  
*{
      padding:0;
      margin: 0;
}
  
.navbar{
      display: flex;
      flex-direction:row;
      border-bottom: 1px  black solid;
}

.navbar-list{
    display: flex;
}

.navbar-list-li{
    margin: 13px;
    font-size: 30px;
    text-decoration: none;
    list-style: none;
}


.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h1{
    font-size: 50px;
}

.section-one{
    display: flex;
    flex-direction: row;
}

.section-one p{
    font-family: Montserrat;
    font-size: 20px;
}